body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #3d455c;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    color: #212631;
    margin: 0px 0px 15px;
}

h1 {
    font-size: 34px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 23px;
}

h4 {
    font-size: 16px;
}

a {
    font-weight: 600;
    color: #212631;
    text-decoration: none;
}

a:hover, a:focus {
    color: #212631;
    text-decoration: underline;
    outline: none;
}

p {
    margin: 0px 0px 20px;
}

.layout {
    margin: 0 64px;
}