@keyframes loader-animation {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
        left: 0%
    }

}

.loader {
    height: 5px;
    width: 100%;
}

.loader .bar {
    position: relative;
    height: 5px;
    background-color: dodgerblue;
    animation-name: loader-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}