.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.logo img {
    width: 122px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu div {
    margin-left: 20px;
}